* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  animation: background-ani 10s linear infinite alternate;
  background-image: url('minecraftpainting.jpg');
  background-size: cover;
}

@keyframes background-ani {
  0% {
    background-color: rgba(248, 248, 248, 0.8);
  }
  100% {
    background-color: rgba(0, 170, 255, 0.8);
  }
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #00aaff;
}

section {
  padding: 3rem;
  text-align: center;
}

section h1, section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

section p {
  font-size: 1.1rem;
  color: #666;
}

.project {
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

form label,
form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

form textarea {
  resize: vertical;
}

form button {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
}

form button:hover {
  background-color: #00aaff;
}
    .marquee-container {
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      margin: 0;
    }

    .marquee-content {
      display: inline-block;
      animation: marquee 15s linear infinite;
    }

    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }